[submodule "basilisk"]
	path = basilisk
	url = https://github.com/AVSLab/basilisk.git

[submodule "poliastro_simulations/cesium-app"]
	path = poliastro_simulations/cesium-app
	url = https://github.com/poliastro/cesium-app
